#ico-link {
  display: none;
}
.li-social {
  display: none;
}
.menu-close {
  display: none;
}
.menu-open {
  display: none;
}
.activado p {
  border-bottom: #07fcd7 1px solid;
  color: #00dae8;
}
.flecha-sube {
  background-color: #0072e543;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  top: 600px;
  right: 40px;
  z-index: 10;
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.flecha-sube:hover {
  background-color: #00dae8;
  cursor: pointer;
}
.flecha-sube #ico-sube {
  font-size: 2.4rem;
  padding: 2.6px;
}
.flecha-sube:hover #ico-sube {
  color: #212121;
}
@media screen and (max-width: 788px) {
  .nav ul {
    transition: all 0.5s ease-in-out;
    display: none;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-200%);
    }

    to {
      transform: translateX(-8%);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(-8%);
    }

    to {
      transform: translateX(100%);
    }
  }

  .saludo {
    /* grid-template-columns: 100%; */
    padding: 30px 50px;
    margin-bottom: 30px;
  }
  .menu-open {
    display: inline;
    margin-right: 1.5rem;
    cursor: pointer;
    background-color: #212121;
    border-radius: 3px;
    border: 0px solid #212121;
    color: #fafafa;
  }
  .menu-open:hover .ico_open {
    transition: all 0.5s ease-in-out;
    color: #07fcd7;
  }
  #open_nav .menu-open {
    display: none;
  }
  #open_nav .menu-close {
    display: inline;
    margin-right: 1.5rem;
    cursor: pointer;
    background-color: #212121;
    border-radius: 3px;
    border: 0px solid #212121;
    color: #fafafa;
  }
  .menu-close:hover .ico_close {
    transition: all 0.5s ease-in-out;
    color: #07fcd7;
  }
  #open_nav ul {
    display: flex !important;
    position: fixed;
    top: 70px;
    flex-direction: column;
    background-color: #131212;
    border-radius: 3px;
    padding: 20px 20px;
    right: 0;
    transform: translateX(-8%);
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: slideIn;
  }
  #open_nav li {
    display: block;
    margin: 20px 0px;
  }
  #open_nav li a {
    /* color: #d1d1d1; */
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  #open_nav li #ico-link {
    display: block;
    color: #00dae8;
  }
  #open_nav .content-social a {
    color: #ffffff;
    text-decoration: none;
  }
  #open_nav .icono-social:hover {
    color: #00dae8;
  }
  #close_nav li #ico-link {
    display: block;
    color: #00dae8;
  }
  #close_nav li {
    transition: all 0.5s ease-in-out;
    margin: 0px 0px;
  }
  #close_nav li a {
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  #close_nav ul {
    /* margin: 0; */
    display: flex !important;
    position: fixed;
    top: 70px;
    flex-direction: column;
    background-color: #131212;
    border-radius: 3px;
    padding: 20px;
    right: 0;
    transform: translateX(100%);
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: slideOut;
  }
  .li-social {
    border-top: 1px solid #00dae8;
    padding: 15px 0px;
  }
  .li-social div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.3em;
  }
  #close_nav .li-social .content-social a {
    color: #ffffff;
    text-decoration: none;
  }
  #close_nav .li-social{
    display: block;
    border-top: 1px solid #00dae8;
    padding: 15px 0px;
  }
  .activado p {
    border-bottom: #07fcd7 1px solid;
    color: #00dae8;
  }
}
@media screen and (max-width: 687px) {
  /* .nav ul li a p {
    display: none;
  } */
  .nav ul {
    padding: 10px !important;
  }
  .nav ul li a , .nav ul p{
    /* display: flex;
    justify-content: center; */
    cursor: pointer;
    column-gap: 2px;
    margin: 0 !important;
  }
  .nav ul li a #ico-link {
    font-size: 1.8em;
  }
  .nav ul li a:hover #ico-link{
    color: #ffffff !important;
  }
  .nav ul li {
    margin: 10px !important;
  }
  .li-social div {
    column-gap: 10px;
  }
  .li-social {
    padding-bottom: 0px;
  }
  #open_nav .content-social a .MuiSvgIcon-root {
    font-size: 2em;
  }
}