/* ==== Estilos generales ==== */
#ico-link,
.li-social,
.menu-close,
.menu-open {
  display: none;
}

.activado p {
  color: #00dae8 !important;
}

/* ==== Botón de subir flecha ==== */
.flecha-sube {
  background-color: #0072e543;
  display: flex;
  align-items: center;
  position: fixed;
  top: 540px;
  right: 40px;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.flecha-sube:hover {
  background-color: #00dae8;
  cursor: pointer;
}

.flecha-sube #ico-sube {
  font-size: 2.4rem;
  padding: 2.6px;
}

.flecha-sube:hover #ico-sube {
  color: #191919;
}

/* ==== Media Query hasta 788px ==== */
@media screen and (max-width: 788px) {
  /* Animaciones */
  @keyframes slideIn {
    from { transform: translateX(-200%); }
    to { transform: translateX(-8%); }
  }

  @keyframes slideOut {
    from { transform: translateX(-8%); }
    to { transform: translateX(100%); }
  }

  .nav ul {
    transition: all 0.5s ease-in-out;
    display: none;
  }

  .saludo {
    padding: 30px 10px;
    margin-bottom: 30px;
  }

  /* Botón de abrir menú */
  .menu-open {
    display: inline;
    margin-right: 1.5rem;
    cursor: pointer;
    background: #191919;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
  }

  .menu-open:hover .ico_open {
    transition: all 0.5s ease-in-out;
    color: #07fcd7;
  }

  /* Botón de cerrar menú */
  #open_nav .menu-open {
    display: none;
  }

  #open_nav .menu-close {
    display: inline;
    margin-right: 1.5rem;
    cursor: pointer;
    background-color: #191919;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
  }

  .menu-close:hover .ico_close {
    transition: all 0.5s ease-in-out;
    color: #07fcd7;
  }

  /* Menú abierto */
  #open_nav ul {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 20px 20px;
    background: #191919;
    border-radius: 3px;
    transform: translateX(-8%);
    animation: slideIn 0.5s ease-in-out;
  }

  #open_nav li {
    display: block;
    margin: 20px 0;
  }

  #open_nav li a {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
  }

  #open_nav li #ico-link {
    display: block;
  }

  #open_nav .content-social a {
    color: #00dae8;
    text-decoration: none;
  }

  #open_nav #ico-link:hover {
    color: #00dae8;
  }

  /* Menú cerrado */
  #close_nav ul {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 20px;
    border-radius: 3px;
    transform: translateX(100%);
    animation: slideOut 0.5s ease-in-out;
  }

  #close_nav li {
    margin: 0;
    transition: all 0.5s ease-in-out;
  }

  #close_nav li a {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  #close_nav li #ico-link {
    display: block;
    color: #00dae8;
  }

  #close_nav .li-social {
    display: block;
    padding: 15px 0;
    border-top: 1px solid #00dae8;
  }

  #close_nav .li-social .content-social a {
    color: #ffffff;
    text-decoration: none;
  }

  .li-social {
    border-top: 1px solid #00dae8;
    padding: 15px 0;
  }

  .li-social div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.3em;
  }

  .activado #ico-link {
    color: #00dae8 !important;
  }
}

/* ==== Media Query hasta 687px ==== */
@media screen and (max-width: 687px) {
  .nav ul {
    padding: 10px !important;
  }

  .nav ul li a,
  .nav ul p {
    cursor: pointer;
    column-gap: 2px;
    margin: 0 !important;
  }

  .nav ul li a #ico-link {
    font-size: 1.8em;
  }

  .nav ul li a:hover #ico-link {
    color: #00dae8 !important;
  }

  .nav ul li {
    margin: 10px !important;
  }

  .li-social {
    padding-bottom: 0;
  }

  .li-social div {
    column-gap: 10px;
  }

  #open_nav .content-social a .MuiSvgIcon-root {
    font-size: 2em;
  }
}
