.name-seccion h1 {
  font-size: 5em;
  font-style: oblique;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #8e6de7, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.seccion-proyectos {
  padding: 10px 100px;
  margin-top: 3rem;
  background: #334d50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #03957e,
    #000000,
    #131212
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #03957e,
    #000000,
    #131212
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-content-proyectos {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: space-around;
}
.content-proyecto {
  background-color: rgba(
    33,
    33,
    33,
    0.5
  ); /* #212121 con una opacidad del 50% */
  border-radius: 24px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 1rem;
}
.content-img-proyect {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.content-img-proyect img {
  border-radius: 24px;
  width: 100%;
}
.content-button {
  width: 100%;
  padding: 5px 10px;
}
.content-button button {
  width: 100%;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
}

.button:hover {
  cursor: pointer;
  color: aqua;
  background-color: #272727;
  border: 1px solid aqua;
}
.item-name-descripcion {
  padding: 5px 10px;
  color: #aeaeae;
  width: 100%;
}
.item-name-descripcion p {
  width: 100%;
}
.content-tecnologia {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap:1rem;
}
.item-name-tecnologia {
  border-radius: 3px;
  background-color: #272727;
  padding: 6px 10px;
}

@media screen and (max-width: 1000px) {
  .seccion-proyectos {
    /* grid-template-columns: 100%; */
    padding: 20px 80px;
  }
  .content-proyecto {
    width: 80%;
  }
  .content-img {
    width: 70%;
    height: 50%;
  }
}
@media screen and (max-width: 800px) {
  /* .content-proyecto {
    width: 80%;
  } */
  .seccion-proyectos {
  }
}
@media screen and (max-width: 687px) {
  .seccion-proyectos {
    /* grid-template-columns: 100%; */
    padding: 20px 50px;
  }
  .seccion-proyectos h1 {
    font-size: 2.5em;
  }
  .content-proyecto {
    width: 80%;
  }

}
