.header {
  /* background-color: #212121;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #ffffffb3; */
  backdrop-filter: blur(7px);
  background-color: rgba(17, 21, 43, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
  background-color: rgba(29, 30, 37, 0.3);
  background: rgba(255, 255, 255, 0.04);
  color: #fafafa;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 9999;
}
.cajon {
  /* padding: 150px 0; */
  background-color: #131212;
  color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
.nav ul{
  display: flex;
  list-style: none;
}
.nav ul li a p{
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 26px;
}
.nav ul li:hover a p{
  color: aqua;
  cursor: pointer;
}
.logo {
  width: 60px;
}
.logo:hover {
  cursor: pointer;
}